{% extends "layout.html" %}

{% block title %}
Compare
{% endblock %}

{% block main %}
    <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
        <div style="display: flex; gap: 20px; width: 80%; justify-content: center;">
            <form action="/compare" method="POST" style="width: 50%; text-align: center;">
                <div class="mb-3" style="display: flex; justify-content: center; gap: 10px;">
                    <input autocomplete="off" autofocus class="form-control w-auto" name="symbol1" placeholder="Company 1 (Ex: AMD)" type="text">
                    <input autocomplete="off" class="form-control w-auto" name="symbol2" placeholder="Company 2 (Ex: TSLA)" type="text">
                </div>
                <div class="mb-3" style="display: flex; justify-content: center; gap: 10px;">
                    <input autocomplete="off" class="form-control w-auto" name="stocks_year1" placeholder="From (Ex: 2016)" type="number">
                    <input autocomplete="off" class="form-control w-auto" name="stocks_year2" placeholder="To (Ex: 2018)" type="number">
                </div>
                <button class="btn btn-primary mt-3" type="submit" name="submit_stocks">Compare Stocks</button>
            </form>

            <form action="/compare" method="POST" style="width: 50%; text-align: center;">
                <div class="mb-3" style="display: flex; justify-content: center; gap: 10px;">
                    <select class="form-control w-auto" name="sector1">
                        <option value="" disabled selected>Sector 1</option>
                        <option value="Basic Materials">Basic Materials</option>
                        <option value="Communication Services">Communication Services</option>
                        <option value="Consumer Cyclical">Consumer Cyclical</option>
                        <option value="Consumer Defensive">Consumer Defensive</option>
                        <option value="energy">Energy</option>
                        <option value="Financial Services">Financial Services</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Industrials">Industrials</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Technology">Technology</option>                        
                        <option value="Utilities">Utilities</option>  
                    </select>
                    <select class="form-control w-auto" name="sector2">
                        <option value="" disabled selected>Sector 2</option>
                        <option value="Basic Materials">Basic Materials</option>
                        <option value="Communication Services">Communication Services</option>
                        <option value="Consumer Cyclical">Consumer Cyclical</option>
                        <option value="Consumer Defensive">Consumer Defensive</option>
                        <option value="energy">Energy</option>
                        <option value="Financial Services">Financial Services</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Industrials">Industrials</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Technology">Technology</option>                        
                        <option value="Utilities">Utilities</option>   
                    </select>
                </div>
                <div class="mb-3" style="display: flex; justify-content: center; gap: 10px;">
                    <input autocomplete="off" class="form-control w-auto" name="sectors_year1" placeholder="From (Ex: 2024)" type="number">
                    <input autocomplete="off" class="form-control w-auto" name="sectors_year2" placeholder="To (Ex: 2025)" type="number">
                </div>
                <button class="btn btn-primary mt-3" type="submit" name="submit_sectors">Compare Sectors</button>
            </form>
        </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; height: 30vh;">
        <form action="/compare" method="POST" style="width: 50%; text-align: center;">
            <div class="mb-3" style="display: flex; justify-content: center; gap: 10px;">
                <div class="mb-3" style="display: flex; justify-content: center; gap: 10px;">
                    <input autocomplete="off" autofocus class="form-control w-auto" name="symbol3" placeholder="Company (Ex: AMD)" type="text">
                </div>
                <select class="form-control w-auto" name="sector3">
                    <option value="" disabled selected>Sector</option>
                    <option value="Basic Materials">Basic Materials</option>
                    <option value="Communication Services">Communication Services</option>
                    <option value="Consumer Cyclical">Consumer Cyclical</option>
                    <option value="Consumer Defensive">Consumer Defensive</option>
                    <option value="energy">Energy</option>
                    <option value="Financial Services">Financial Services</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Industrials">Industrials</option>
                    <option value="Real Estate">Real Estate</option>
                    <option value="Technology">Technology</option>                        
                    <option value="Utilities">Utilities</option>  
                </select>
            </div>
            <div class="mb-3" style="display: flex; justify-content: center; gap: 10px;">
                <input autocomplete="off" class="form-control w-auto" name="sectors_year1" placeholder="From (Ex: 2024)" type="number">
                <input autocomplete="off" class="form-control w-auto" name="sectors_year2" placeholder="To (Ex: 2025)" type="number">
            </div>
            <button class="btn btn-primary mt-3" type="submit" name="submit_sectors">Compare Company with Sector</button>
        </form>
    </div>
{% endblock %}
